mock==5.0.1
pytest==7.3.0
pytest-cov==4.0.0
pytest-benchmark==4.0.0
coverage==7.2.3
simplejson==3.18.4
orjson==3.8.11
pysimdjson==5.0.2
python-rapidjson==1.10
cysimdjson==21.11
responses==0.23.1
testcontainers==3.7.1
pyOpenSSL==23.1.1
