mock==5.1.0
pytest==7.4.3
pytest-cov==4.1.0
pytest-benchmark==4.0.0
coverage==7.3.2
simplejson==3.19.2
ujson==5.8.0
pysimdjson==5.0.2
python-rapidjson==1.13
cysimdjson==23.8
responses==0.24.1
testcontainers==3.7.1
pyOpenSSL==23.3.0
