[
    (id: 1, name: "octetDeltaCount", type_t: "u64"),
    (id: 2, name: "packetDeltaCount", type_t: "u64"),
    (id: 4, name: "protocolIdentifier", type_t: "u8"),
    (id: 5, name: "ipClassOfService", type_t: "u8"),
    (id: 6, name: "tcpControlBits", type_t: "u8"),
    (id: 7, name: "sourceTransportPort", type_t: "u16"),
    (id: 8, name: "sourceIPv4Address", type_t: "ipv4Address"),
    (id: 9, name: "sourceIPv4PrefixLength", type_t: "u8"),
    (id: 10, name: "ingressInterface", type_t: "u32"),
    (id: 11, name: "destinationTransportPort", type_t: "u16"),
    (id: 12, name: "destinationIPv4Address", type_t: "ipv4Address"),
    (id: 13, name: "destinationIPv4PrefixLength", type_t: "u8"),
    (id: 14, name: "egressInterface", type_t: "u32"),
    (id: 15, name: "ipNextHopIPv4Address", type_t: "ipv4Address"),
    (id: 16, name: "bgpSourceAsNumber", type_t: "u32"),
    (id: 17, name: "bgpDestinationAsNumber", type_t: "u32"),
    (id: 18, name: "bgpNextHopIPv4Address", type_t: "ipv4Address"),
    (id: 19, name: "postMCastPacketDeltaCount", type_t: "u64"),
    (id: 20, name: "postMCastOctetDeltaCount", type_t: "u64"),
    (id: 21, name: "flowEndSysUpTime", type_t: "u32"),
    (id: 22, name: "flowStartSysUpTime", type_t: "u32"),
    (id: 23, name: "postOctetDeltaCount", type_t: "u64"),
    (id: 24, name: "postPacketDeltaCount", type_t: "u64"),
    (id: 25, name: "minimumIpTotalLength", type_t: "u64"),
    (id: 26, name: "maximumIpTotalLength", type_t: "u64"),
    (id: 27, name: "sourceIPv6Address", type_t: "ipv6Address"),
    (id: 28, name: "destinationIPv6Address", type_t: "ipv6Address"),
    (id: 29, name: "sourceIPv6PrefixLength", type_t: "u8"),
    (id: 30, name: "destinationIPv6PrefixLength", type_t: "u8"),
    (id: 31, name: "flowLabelIPv6", type_t: "u32"),
    (id: 32, name: "icmpTypeCodeIPv4", type_t: "u16"),
    (id: 33, name: "igmpType", type_t: "u8"),
    (id: 36, name: "flowActiveTimeout", type_t: "u16"),
    (id: 37, name: "flowIdleTimeout", type_t: "u16"),
    (id: 40, name: "exportedOctetTotalCount", type_t: "u64"),
    (id: 41, name: "exportedMessageTotalCount", type_t: "u64"),
    (id: 42, name: "exportedFlowRecordTotalCount", type_t: "u64"),
    (id: 44, name: "sourceIPv4Prefix", type_t: "ipv4Address"),
    (id: 45, name: "destinationIPv4Prefix", type_t: "ipv4Address"),
    (id: 46, name: "mplsTopLabelType", type_t: "u8"),
    (id: 47, name: "mplsTopLabelIPv4Address", type_t: "ipv4Address"),
    (id: 52, name: "minimumTTL", type_t: "u8"),
    (id: 53, name: "maximumTTL", type_t: "u8"),
    (id: 54, name: "fragmentIdentification", type_t: "u32"),
    (id: 55, name: "postIpClassOfService", type_t: "u8"),
    (id: 56, name: "sourceMacAddress", type_t: "macAddress"),
    (id: 57, name: "postDestinationMacAddress", type_t: "macAddress"),
    (id: 58, name: "vlanId", type_t: "u16"),
    (id: 59, name: "postVlanId", type_t: "u16"),
    (id: 60, name: "ipVersion", type_t: "u8"),
    (id: 61, name: "flowDirection", type_t: "u8"),
    (id: 62, name: "ipNextHopIPv6Address", type_t: "ipv6Address"),
    (id: 63, name: "bgpNextHopIPv6Address", type_t: "ipv6Address"),
    (id: 64, name: "ipv6ExtensionHeaders", type_t: "u32"),
    (id: 70, name: "mplsTopLabelStackSection", type_t: "octetArray"),
    (id: 71, name: "mplsLabelStackSection2", type_t: "octetArray"),
    (id: 72, name: "mplsLabelStackSection3", type_t: "octetArray"),
    (id: 73, name: "mplsLabelStackSection4", type_t: "octetArray"),
    (id: 74, name: "mplsLabelStackSection5", type_t: "octetArray"),
    (id: 75, name: "mplsLabelStackSection6", type_t: "octetArray"),
    (id: 76, name: "mplsLabelStackSection7", type_t: "octetArray"),
    (id: 77, name: "mplsLabelStackSection8", type_t: "octetArray"),
    (id: 78, name: "mplsLabelStackSection9", type_t: "octetArray"),
    (id: 79, name: "mplsLabelStackSection10", type_t: "octetArray"),
    (id: 80, name: "destinationMacAddress", type_t: "macAddress"),
    (id: 81, name: "postSourceMacAddress", type_t: "macAddress"),
    (id: 85, name: "octetTotalCount", type_t: "u64"),
    (id: 86, name: "packetTotalCount", type_t: "u64"),
    (id: 88, name: "fragmentOffset", type_t: "u16"),
    (id: 90, name: "mplsVpnRouteDistinguisher", type_t: "octetArray"),
    (id: 128, name: "bgpNextAdjacentAsNumber", type_t: "u32"),
    (id: 129, name: "bgpPrevAdjacentAsNumber", type_t: "u32"),
    (id: 130, name: "exporterIPv4Address", type_t: "ipv4Address"),
    (id: 131, name: "exporterIPv6Address", type_t: "ipv6Address"),
    (id: 132, name: "droppedOctetDeltaCount", type_t: "u64"),
    (id: 133, name: "droppedPacketDeltaCount", type_t: "u64"),
    (id: 134, name: "droppedOctetTotalCount", type_t: "u64"),
    (id: 135, name: "droppedPacketTotalCount", type_t: "u64"),
    (id: 136, name: "flowEndReason", type_t: "u8"),
    (id: 137, name: "commonPropertiesId", type_t: "u64"),
    (id: 138, name: "observationPointId", type_t: "u64"),
    (id: 139, name: "icmpTypeCodeIPv6", type_t: "u16"),
    (id: 140, name: "mplsTopLabelIPv6Address", type_t: "ipv6Address"),
    (id: 141, name: "lineCardId", type_t: "u32"),
    (id: 142, name: "portId", type_t: "u32"),
    (id: 143, name: "meteringProcessId", type_t: "u32"),
    (id: 144, name: "exportingProcessId", type_t: "u32"),
    (id: 145, name: "templateId", type_t: "u16"),
    (id: 146, name: "wlanChannelId", type_t: "u8"),
    (id: 147, name: "wlanSSID", type_t: "string"),
    (id: 148, name: "flowId", type_t: "u64"),
    (id: 149, name: "observationDomainId", type_t: "u32"),
    (id: 150, name: "flowStartSeconds", type_t: "u32"),
    (id: 151, name: "flowEndSeconds", type_t: "u32"),
    (id: 152, name: "flowStartMilliseconds", type_t: "u64"),
    (id: 153, name: "flowEndMilliseconds", type_t: "u64"),
    (id: 154, name: "flowStartMicroseconds", type_t: "u64"),
    (id: 155, name: "flowEndMicroseconds", type_t: "u64"),
    (id: 156, name: "flowStartNanoseconds", type_t: "u64"),
    (id: 157, name: "flowEndNanoseconds", type_t: "u64"),
    (id: 158, name: "flowStartDeltaMicroseconds", type_t: "u64"),
    (id: 159, name: "flowEndDeltaMicroseconds", type_t: "u64"),
    (id: 160, name: "systemInitTimeMilliseconds", type_t: "u64"),
    (id: 161, name: "flowDurationMilliseconds", type_t: "u32"),
    (id: 162, name: "flowDurationMicroseconds", type_t: "u32"),
    (id: 163, name: "observedFlowTotalCount", type_t: "u64"),
    (id: 164, name: "ignoredPacketTotalCount", type_t: "u64"),
    (id: 165, name: "ignoredOctetTotalCount", type_t: "u64"),
    (id: 166, name: "notSentFlowTotalCount", type_t: "u64"),
    (id: 167, name: "notSentPacketTotalCount", type_t: "u64"),
    (id: 168, name: "notSentOctetTotalCount", type_t: "u64"),
    (id: 169, name: "destinationIPv6Prefix", type_t: "ipv6Address"),
    (id: 170, name: "sourceIPv6Prefix", type_t: "ipv6Address"),
    (id: 171, name: "postOctetTotalCount", type_t: "u64"),
    (id: 172, name: "postPacketTotalCount", type_t: "u64"),
    (id: 173, name: "flowKeyIndicator", type_t: "u64"),
    (id: 174, name: "postMCastPacketTotalCount", type_t: "u64"),
    (id: 175, name: "postMCastOctetTotalCount", type_t: "u64"),
    (id: 176, name: "icmpTypeIPv4", type_t: "u8"),
    (id: 177, name: "icmpCodeIPv4", type_t: "u8"),
    (id: 178, name: "icmpTypeIPv6", type_t: "u8"),
    (id: 179, name: "icmpCodeIPv6", type_t: "u8"),
    (id: 180, name: "udpSourcePort", type_t: "u16"),
    (id: 181, name: "udpDestinationPort", type_t: "u16"),
    (id: 182, name: "tcpSourcePort", type_t: "u16"),
    (id: 183, name: "tcpDestinationPort", type_t: "u16"),
    (id: 184, name: "tcpSequenceNumber", type_t: "u32"),
    (id: 185, name: "tcpAcknowledgementNumber", type_t: "u32"),
    (id: 186, name: "tcpWindowSize", type_t: "u16"),
    (id: 187, name: "tcpUrgentPointer", type_t: "u16"),
    (id: 188, name: "tcpHeaderLength", type_t: "u8"),
    (id: 189, name: "ipHeaderLength", type_t: "u8"),
    (id: 190, name: "totalLengthIPv4", type_t: "u16"),
    (id: 191, name: "payloadLengthIPv6", type_t: "u16"),
    (id: 192, name: "ipTTL", type_t: "u8"),
    (id: 193, name: "nextHeaderIPv6", type_t: "u8"),
    (id: 194, name: "mplsPayloadLength", type_t: "u32"),
    (id: 195, name: "ipDiffServCodePoint", type_t: "u8"),
    (id: 196, name: "ipPrecedence", type_t: "u8"),
    (id: 197, name: "fragmentFlags", type_t: "u8"),
    (id: 198, name: "octetDeltaSumOfSquares", type_t: "u64"),
    (id: 199, name: "octetTotalSumOfSquares", type_t: "u64"),
    (id: 200, name: "mplsTopLabelTTL", type_t: "u8"),
    (id: 201, name: "mplsLabelStackLength", type_t: "u32"),
    (id: 202, name: "mplsLabelStackDepth", type_t: "u32"),
    (id: 203, name: "mplsTopLabelExp", type_t: "u8"),
    (id: 204, name: "ipPayloadLength", type_t: "u32"),
    (id: 205, name: "udpMessageLength", type_t: "u16"),
    (id: 206, name: "isMulticast", type_t: "u8"),
    (id: 207, name: "ipv4IHL", type_t: "u8"),
    (id: 208, name: "ipv4Options", type_t: "octetArray"),
    (id: 209, name: "tcpOptions", type_t: "octetArray"),
    (id: 210, name: "paddingOctets", type_t: "octetArray"),
    (id: 211, name: "collectorIPv4Address", type_t: "ipv4Address"),
    (id: 212, name: "collectorIPv6Address", type_t: "ipv6Address"),
    (id: 213, name: "exportInterface", type_t: "u32"),
    (id: 214, name: "exportProtocolVersion", type_t: "u8"),
    (id: 215, name: "exportTransportProtocol", type_t: "u8"),
    (id: 216, name: "collectorTransportPort", type_t: "u16"),
    (id: 217, name: "exporterTransportPort", type_t: "u16"),
    (id: 218, name: "tcpSynTotalCount", type_t: "u64"),
    (id: 219, name: "tcpFinTotalCount", type_t: "u64"),
    (id: 220, name: "tcpRstTotalCount", type_t: "u64"),
    (id: 221, name: "tcpPshTotalCount", type_t: "u64"),
    (id: 222, name: "tcpAckTotalCount", type_t: "u64"),
    (id: 223, name: "tcpUrgTotalCount", type_t: "u64"),
    (id: 224, name: "ipTotalLength", type_t: "u64"),
    (id: 237, name: "postMplsTopLabelExp", type_t: "u8"),
    (id: 238, name: "tcpWindowScale", type_t: "u8")
]
