[
    (id: 1, name: "octetDeltaCount", typeT: "u64"),
    (id: 2, name: "packetDeltaCount", typeT: "u64"),
    (id: 4, name: "protocolIdentifier", typeT: "u8"),
    (id: 5, name: "ipClassOfService", typeT: "u8"),
    (id: 6, name: "tcpControlBits", typeT: "u8"),
    (id: 7, name: "sourceTransportPort", typeT: "u16"),
    (id: 8, name: "sourceIPv4Address", typeT: "ipv4Address"),
    (id: 9, name: "sourceIPv4PrefixLength", typeT: "u8"),
    (id: 10, name: "ingressInterface", typeT: "u32"),
    (id: 11, name: "destinationTransportPort", typeT: "u16"),
    (id: 12, name: "destinationIPv4Address", typeT: "ipv4Address"),
    (id: 13, name: "destinationIPv4PrefixLength", typeT: "u8"),
    (id: 14, name: "egressInterface", typeT: "u32"),
    (id: 15, name: "ipNextHopIPv4Address", typeT: "ipv4Address"),
    (id: 16, name: "bgpSourceAsNumber", typeT: "u32"),
    (id: 17, name: "bgpDestinationAsNumber", typeT: "u32"),
    (id: 18, name: "bgpNextHopIPv4Address", typeT: "ipv4Address"),
    (id: 19, name: "postMCastPacketDeltaCount", typeT: "u64"),
    (id: 20, name: "postMCastOctetDeltaCount", typeT: "u64"),
    (id: 21, name: "flowEndSysUpTime", typeT: "u32"),
    (id: 22, name: "flowStartSysUpTime", typeT: "u32"),
    (id: 23, name: "postOctetDeltaCount", typeT: "u64"),
    (id: 24, name: "postPacketDeltaCount", typeT: "u64"),
    (id: 25, name: "minimumIpTotalLength", typeT: "u64"),
    (id: 26, name: "maximumIpTotalLength", typeT: "u64"),
    (id: 27, name: "sourceIPv6Address", typeT: "ipv6Address"),
    (id: 28, name: "destinationIPv6Address", typeT: "ipv6Address"),
    (id: 29, name: "sourceIPv6PrefixLength", typeT: "u8"),
    (id: 30, name: "destinationIPv6PrefixLength", typeT: "u8"),
    (id: 31, name: "flowLabelIPv6", typeT: "u32"),
    (id: 32, name: "icmpTypeCodeIPv4", typeT: "u16"),
    (id: 33, name: "igmpType", typeT: "u8"),
    (id: 36, name: "flowActiveTimeout", typeT: "u16"),
    (id: 37, name: "flowIdleTimeout", typeT: "u16"),
    (id: 40, name: "exportedOctetTotalCount", typeT: "u64"),
    (id: 41, name: "exportedMessageTotalCount", typeT: "u64"),
    (id: 42, name: "exportedFlowRecordTotalCount", typeT: "u64"),
    (id: 44, name: "sourceIPv4Prefix", typeT: "ipv4Address"),
    (id: 45, name: "destinationIPv4Prefix", typeT: "ipv4Address"),
    (id: 46, name: "mplsTopLabelType", typeT: "u8"),
    (id: 47, name: "mplsTopLabelIPv4Address", typeT: "ipv4Address"),
    (id: 52, name: "minimumTTL", typeT: "u8"),
    (id: 53, name: "maximumTTL", typeT: "u8"),
    (id: 54, name: "fragmentIdentification", typeT: "u32"),
    (id: 55, name: "postIpClassOfService", typeT: "u8"),
    (id: 56, name: "sourceMacAddress", typeT: "macAddress"),
    (id: 57, name: "postDestinationMacAddress", typeT: "macAddress"),
    (id: 58, name: "vlanId", typeT: "u16"),
    (id: 59, name: "postVlanId", typeT: "u16"),
    (id: 60, name: "ipVersion", typeT: "u8"),
    (id: 61, name: "flowDirection", typeT: "u8"),
    (id: 62, name: "ipNextHopIPv6Address", typeT: "ipv6Address"),
    (id: 63, name: "bgpNextHopIPv6Address", typeT: "ipv6Address"),
    (id: 64, name: "ipv6ExtensionHeaders", typeT: "u32"),
    (id: 70, name: "mplsTopLabelStackSection", typeT: "octetArray"),
    (id: 71, name: "mplsLabelStackSection2", typeT: "octetArray"),
    (id: 72, name: "mplsLabelStackSection3", typeT: "octetArray"),
    (id: 73, name: "mplsLabelStackSection4", typeT: "octetArray"),
    (id: 74, name: "mplsLabelStackSection5", typeT: "octetArray"),
    (id: 75, name: "mplsLabelStackSection6", typeT: "octetArray"),
    (id: 76, name: "mplsLabelStackSection7", typeT: "octetArray"),
    (id: 77, name: "mplsLabelStackSection8", typeT: "octetArray"),
    (id: 78, name: "mplsLabelStackSection9", typeT: "octetArray"),
    (id: 79, name: "mplsLabelStackSection10", typeT: "octetArray"),
    (id: 80, name: "destinationMacAddress", typeT: "macAddress"),
    (id: 81, name: "postSourceMacAddress", typeT: "macAddress"),
    (id: 85, name: "octetTotalCount", typeT: "u64"),
    (id: 86, name: "packetTotalCount", typeT: "u64"),
    (id: 88, name: "fragmentOffset", typeT: "u16"),
    (id: 90, name: "mplsVpnRouteDistinguisher", typeT: "octetArray"),
    (id: 128, name: "bgpNextAdjacentAsNumber", typeT: "u32"),
    (id: 129, name: "bgpPrevAdjacentAsNumber", typeT: "u32"),
    (id: 130, name: "exporterIPv4Address", typeT: "ipv4Address"),
    (id: 131, name: "exporterIPv6Address", typeT: "ipv6Address"),
    (id: 132, name: "droppedOctetDeltaCount", typeT: "u64"),
    (id: 133, name: "droppedPacketDeltaCount", typeT: "u64"),
    (id: 134, name: "droppedOctetTotalCount", typeT: "u64"),
    (id: 135, name: "droppedPacketTotalCount", typeT: "u64"),
    (id: 136, name: "flowEndReason", typeT: "u8"),
    (id: 137, name: "commonPropertiesId", typeT: "u64"),
    (id: 138, name: "observationPointId", typeT: "u64"),
    (id: 139, name: "icmpTypeCodeIPv6", typeT: "u16"),
    (id: 140, name: "mplsTopLabelIPv6Address", typeT: "ipv6Address"),
    (id: 141, name: "lineCardId", typeT: "u32"),
    (id: 142, name: "portId", typeT: "u32"),
    (id: 143, name: "meteringProcessId", typeT: "u32"),
    (id: 144, name: "exportingProcessId", typeT: "u32"),
    (id: 145, name: "templateId", typeT: "u16"),
    (id: 146, name: "wlanChannelId", typeT: "u8"),
    (id: 147, name: "wlanSSID", typeT: "string"),
    (id: 148, name: "flowId", typeT: "u64"),
    (id: 149, name: "observationDomainId", typeT: "u32"),
    (id: 150, name: "flowStartSeconds", typeT: "u32"),
    (id: 151, name: "flowEndSeconds", typeT: "u32"),
    (id: 152, name: "flowStartMilliseconds", typeT: "u64"),
    (id: 153, name: "flowEndMilliseconds", typeT: "u64"),
    (id: 154, name: "flowStartMicroseconds", typeT: "u64"),
    (id: 155, name: "flowEndMicroseconds", typeT: "u64"),
    (id: 156, name: "flowStartNanoseconds", typeT: "u64"),
    (id: 157, name: "flowEndNanoseconds", typeT: "u64"),
    (id: 158, name: "flowStartDeltaMicroseconds", typeT: "u64"),
    (id: 159, name: "flowEndDeltaMicroseconds", typeT: "u64"),
    (id: 160, name: "systemInitTimeMilliseconds", typeT: "u64"),
    (id: 161, name: "flowDurationMilliseconds", typeT: "u32"),
    (id: 162, name: "flowDurationMicroseconds", typeT: "u32"),
    (id: 163, name: "observedFlowTotalCount", typeT: "u64"),
    (id: 164, name: "ignoredPacketTotalCount", typeT: "u64"),
    (id: 165, name: "ignoredOctetTotalCount", typeT: "u64"),
    (id: 166, name: "notSentFlowTotalCount", typeT: "u64"),
    (id: 167, name: "notSentPacketTotalCount", typeT: "u64"),
    (id: 168, name: "notSentOctetTotalCount", typeT: "u64"),
    (id: 169, name: "destinationIPv6Prefix", typeT: "ipv6Address"),
    (id: 170, name: "sourceIPv6Prefix", typeT: "ipv6Address"),
    (id: 171, name: "postOctetTotalCount", typeT: "u64"),
    (id: 172, name: "postPacketTotalCount", typeT: "u64"),
    (id: 173, name: "flowKeyIndicator", typeT: "u64"),
    (id: 174, name: "postMCastPacketTotalCount", typeT: "u64"),
    (id: 175, name: "postMCastOctetTotalCount", typeT: "u64"),
    (id: 176, name: "icmpTypeIPv4", typeT: "u8"),
    (id: 177, name: "icmpCodeIPv4", typeT: "u8"),
    (id: 178, name: "icmpTypeIPv6", typeT: "u8"),
    (id: 179, name: "icmpCodeIPv6", typeT: "u8"),
    (id: 180, name: "udpSourcePort", typeT: "u16"),
    (id: 181, name: "udpDestinationPort", typeT: "u16"),
    (id: 182, name: "tcpSourcePort", typeT: "u16"),
    (id: 183, name: "tcpDestinationPort", typeT: "u16"),
    (id: 184, name: "tcpSequenceNumber", typeT: "u32"),
    (id: 185, name: "tcpAcknowledgementNumber", typeT: "u32"),
    (id: 186, name: "tcpWindowSize", typeT: "u16"),
    (id: 187, name: "tcpUrgentPointer", typeT: "u16"),
    (id: 188, name: "tcpHeaderLength", typeT: "u8"),
    (id: 189, name: "ipHeaderLength", typeT: "u8"),
    (id: 190, name: "totalLengthIPv4", typeT: "u16"),
    (id: 191, name: "payloadLengthIPv6", typeT: "u16"),
    (id: 192, name: "ipTTL", typeT: "u8"),
    (id: 193, name: "nextHeaderIPv6", typeT: "u8"),
    (id: 194, name: "mplsPayloadLength", typeT: "u32"),
    (id: 195, name: "ipDiffServCodePoint", typeT: "u8"),
    (id: 196, name: "ipPrecedence", typeT: "u8"),
    (id: 197, name: "fragmentFlags", typeT: "u8"),
    (id: 198, name: "octetDeltaSumOfSquares", typeT: "u64"),
    (id: 199, name: "octetTotalSumOfSquares", typeT: "u64"),
    (id: 200, name: "mplsTopLabelTTL", typeT: "u8"),
    (id: 201, name: "mplsLabelStackLength", typeT: "u32"),
    (id: 202, name: "mplsLabelStackDepth", typeT: "u32"),
    (id: 203, name: "mplsTopLabelExp", typeT: "u8"),
    (id: 204, name: "ipPayloadLength", typeT: "u32"),
    (id: 205, name: "udpMessageLength", typeT: "u16"),
    (id: 206, name: "isMulticast", typeT: "u8"),
    (id: 207, name: "ipv4IHL", typeT: "u8"),
    (id: 208, name: "ipv4Options", typeT: "octetArray"),
    (id: 209, name: "tcpOptions", typeT: "octetArray"),
    (id: 210, name: "paddingOctets", typeT: "octetArray"),
    (id: 211, name: "collectorIPv4Address", typeT: "ipv4Address"),
    (id: 212, name: "collectorIPv6Address", typeT: "ipv6Address"),
    (id: 213, name: "exportInterface", typeT: "u32"),
    (id: 214, name: "exportProtocolVersion", typeT: "u8"),
    (id: 215, name: "exportTransportProtocol", typeT: "u8"),
    (id: 216, name: "collectorTransportPort", typeT: "u16"),
    (id: 217, name: "exporterTransportPort", typeT: "u16"),
    (id: 218, name: "tcpSynTotalCount", typeT: "u64"),
    (id: 219, name: "tcpFinTotalCount", typeT: "u64"),
    (id: 220, name: "tcpRstTotalCount", typeT: "u64"),
    (id: 221, name: "tcpPshTotalCount", typeT: "u64"),
    (id: 222, name: "tcpAckTotalCount", typeT: "u64"),
    (id: 223, name: "tcpUrgTotalCount", typeT: "u64"),
    (id: 224, name: "ipTotalLength", typeT: "u64"),
    (id: 237, name: "postMplsTopLabelExp", typeT: "u8"),
    (id: 238, name: "tcpWindowScale", typeT: "u8")
]
